body {
    background-image: url(../img/mine.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#titulo {
    text-align: center;
}

#links {
    text-align: center;
    margin-top: 50px;
}

#perfil {
    text-align: center;
}

#eu {
    text-align: center;
}
