body {
    background-image: url(../img/fundo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#titulo {
    text-align: center;
}

#links {
    text-align: center;
    margin-top: 50px;
}

#perfil {
    text-align: center;
}

#eu {
    text-align: center;
}