#titulo {
    text-align: center;
}

#links {
    text-align: center;
    margin-top: 50px;
}

#sabor {
    .bat {
  width: 1px;
  height: 1px;
  transform: scale(4);
  position: relative;
  left: -128px;
  top: -128px;
  -webkit-animation: 0.4s bat steps(1) infinite;
  animation: 0.4s bat steps(1) infinite;
}
}